<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recomender Flask App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body style = "background-image:url(https://upload.wikimedia.org/wikipedia/commons/2/2f/Sala_de_cine.jpg); background-repeat:repeat-y; background-size:cover;">
    {% include 'includes/_navbar.html' %}
    <div class="container" style = "height: 1000px">
        {% include 'includes/_messages.html' %}
        {% block body %} {% endblock %}
    </div>
    
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>

</body>